										
										<!--begin::Menu toggle-->
										<a href="#" class="topbar-item px-3 px-lg-5" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end" data-kt-menu-flip="bottom">
											<i class="fonticon-sun fs-2"></i>
											<i class="fonticon-moon fs-2 d-none"></i>
										</a>
										<!--begin::Menu toggle-->

<!--layout-partial:partials/theme-mode/__menu.html-->

										